.master_container{
    position: relative;
    height: 120px;
    width: 100%;
}
.master_info{
    width:120px;height: 120px;
    border-radius:50%;
    position: absolute;
    left:50%;
    margin-left:-60px;
    background-color: #ccc;
    text-align: center;
    font-size: 14px;
}



