
body{
    padding-top: 0;
    padding-bottom: 0;
}
.header{
    background-color: rgba(0,0,0,.5);
    border: 0;
    /*position: absolute;*/
}
.header .header_back{
    background-position: -5.9rem -5.55rem;
    position: absolute;top:0;left:0;
    height: .88rem;
}
.header .header_collect,.header .header_share{
    background: url("../images/icon.png")
    no-repeat -3.2rem -1.55rem;
    background-size: 7.92rem;
    float: right;
    width: 14%;height: 100%;
}
.header .header_share{
    background-position-x: -4.97rem;
}
.header .accomplish{
    background-position-x: -4.08rem;
}

.detail a,.talk_title a{
    display: block;
    width: 100%;height: 100%;
}

.detail .backImg{
    height: 4rem;width: 100%;
}
.detail .backImg img{width: 100%;height: 100%;}
.detail .detail_top{
    border-bottom: .24rem solid #f1f1f1;
    padding-left: .24rem;
}
.detail .detail_top .shop_name{
    padding: .2rem 0;
    font-size: .35rem;
    padding-left: .16rem;
    color:#333;
    padding-right: .24rem;
}
.detail .detail_top .detail_line{
    font-size: .27rem;
    padding-left: .16rem;
}
.detail .detail_line{
    padding-bottom: .2rem;
    border-bottom: 1px solid #eee;
}
.detail .detail_line .shop_human{
    margin-right: 10%;
}
.detail .detail_line .shop_level{
    float: right;
    padding-right: .24rem;
}
.detail .shop_level i{
    display: inline-block;
    width: .32rem;height: .4rem;
    background: url("../images/icon.png")
    no-repeat -3.14rem -5.84rem;
    background-size: 7.92rem;
}
.detail .shop_level i.level-two{
    background-position-x: -4.02rem;
}
.detail .shop_level i.level-three{
    background-position-x: -5.02rem;
}

.detail_top .shop_addr,.detail_top .shop_phone,.detail .shop_describe,.detail .shop_img{
    border-bottom: 1px solid #eee;
    position: relative;
    padding: .22rem 0;
    padding-left: .75rem;
    font-size: .29rem;
}
.detail_top .shop_addr:before,
.detail_top .shop_phone:before,
.detail .shop_describe:before,
.detail .shop_img:before{
    content: "";
    display: block;
    position: absolute;
    top:0;left:0;
    width: .7rem;height: .88rem;
    background: url("../images/icon.png")
    no-repeat -4.3rem -.68rem;
    background-size: 7.92rem;
}

.nextStep{    padding-right: .5rem!important; position: relative }
.nextStep:after{
    display: block;
    content: "";
    position: absolute;
    top:50%;right: .24rem;
    width: .3rem;height: .3rem;
    transform: translate(0,-50%);
    background: url("../images/icon.png")
    no-repeat -6.25rem -1.87rem;
    background-size: 7.92rem;
}

.detail_top .shop_phone{
    border:0;
}
.detail_top .shop_phone:before{
    background-position-x:-5.18rem;
}
.detail .shop_describe:before{
    left: .24rem;
    background-position-x:-6.9rem;
}
.detail .shop_describe,.detail .shop_img{
    border-bottom: .24rem solid #f1f1f1;
    padding-left: .99rem;
    padding-right: .24rem;
}
.detail .shop_describe .shop_describe_text{font-size: .27rem;}
.detail .shop_img:before{
    left: .24rem;
    background-position: .12rem -1.55rem ;
}


.recommend{
    border-bottom: .24rem solid #f1f1f1;
    border-top: .24rem solid #f1f1f1;
}
.recommend_title{
    border-bottom: 1px solid #eee;
    padding-left: .4rem;
}
.recommend_title:before{
    width: 0;height: 0;
}
.shopList{padding-left: .4rem}
.shopList li{
    padding-left: 0;
    border-bottom: 1px solid #eee;

}

.shop_enter{
    height: .9rem;
    width: 100%;
    text-align: center;
    line-height: .9rem;
    font-size: .33rem;
    color:#dd2727;
}
.shop_enter .shop_enter_icon{
    display: inline-block;
    padding: .05rem .09rem;
    border:1px solid #f5bebe;
    border-radius: 5px;
    margin-right: .1rem;
    font-size: .23rem;
    color:#ff7e7e;
    line-height: normal;
}




/*分享*/
.share{overflow:hidden;}
.share_bg{position:fixed;top:0;left:0;z-index:998;overflow:hidden;display:none;width:100%;height:100%;background:#000;opacity:.6;}
.share_com{position:fixed;top:20%;left:50%;z-index:999;display:none;width:5rem;background:#FFFFFF;margin-left:-2.5rem;padding-top:0.56rem;border-radius:0.2rem;}
.share_com .share_code{width:3.92rem;height:3.92rem;margin:0 auto;}
.share_com .share_code img{width:100%;height:100%;}
.share_com p{font-size:0.34rem;line-height:1;color:#444;text-align:center;padding:0.44rem 0 0.49rem;}
.share_com .share_off{width:100%;height:0.9rem;font-size:0.3rem;line-height:0.9rem;color:#fff;text-align:center;border-radius:0rem 0rem 0.2rem 0.2rem;background:#62b900;}
/*.share_com h2{margin:15px auto 10px;text-align:center;font-weight:400;font-size:15px;}
.share_com ul{overflow:hidden;}
.share_com ul li{float:left;width:25%;}
.share_com ul li a,.share_com ul li span{display:block;overflow:hidden;margin:5px auto;width:100%;text-align:center;}
.share_com ul li i{display:block;overflow:hidden;margin:5px auto;width:50px;height:50px;background:url(../images/icon-oauth-round_2x.png) no-repeat scroll 0 0/100px auto;}
.share_com ul li .icon-share-weibo i{background-position:0 -150px;}
.share_com ul li .icon-share-weibo i:hover{background-position:-50px -150px;}
.share_com ul li .icon-share-qzone i{background-position:0 0;}
.share_com ul li .icon-share-qzone i:hover{background-position:-50px 0;}
.share_com ul li .icon-share-qqweibo i{background-position:0 -400px;}
.share_com ul li .icon-share-qqweibo i:hover{background-position:-50px -400px;}
.share_com ul li .icon-share-qq i{background-position:0 -100px;}
.share_com ul li .icon-share-qq i:hover{background-position:-50px -100px;}
.share_com ul li .icon-share-qqzone i{background-position:0 -50px;}
.share_com ul li .icon-share-qqzone i:hover{background-position:-50px -50px;}
.share_com p a{display:block;margin:12px auto 0;width:94%;height:40px;border:1px solid #DDD;border-radius:6px;background:#fff;text-align:center;line-height:40px;}
.share_div{position:absolute;top:0;z-index:9999;display:none;overflow:hidden;width:100%;background:#000;opacity:.8;}
.share_div img{margin:10% 0 0 0;}*/





