/***************默认样式****************/
* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, address, cite, code, del,
dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
    border: 0 none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em, strong {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    line-height: 1.5;
    color: #666;
    font-size: 0.24rem;
    padding-top: .88rem;
}

a {
    text-decoration: none;
}

.box {
    position: relative;
    max-width: 10rem;
    margin: 0 auto;
}

.navRoot {
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 0.01rem solid #ccc;
    background: #f2f2f2;
}

.navLink {
    font-size: 0.42rem;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    color: #666;
}

.navLink.active {
    color: #1abc9c
}

.navLinkIco {
    display: block;
    margin-bottom: 0.1rem;
}

.navLinkText {
    display: block;
    line-height: 1;
    font-size: 0.24rem;
}

.img-responsive {
    width: 100%;
}
input,button{
    border:0;
    outline: none;
    font-size: inherit;
    background-color: transparent;
}
*:after,*:before{
    display: inline-block;
}
.fff{color:#fff;}

.header{
    height: .88rem;
    width: 100%;
    position: fixed;
    top:0;left:0;
    z-index: 9;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
}
.header>*{
    float: left;
    line-height: .88rem;
}
.header_back{
    width: 15.06%;
    background: url("../images/icon.png")
    no-repeat -5rem .24rem;
    background-size: 7.92rem;
    height: 100%;
}
.header_btn{
    float: right;
    width: 14%;
    text-align: center;
    font-size: .28rem;
    white-space: nowrap;/*强制不换行*/
    height: 100%;
    line-height: .88rem;
}
.iptContainer{
    border-radius: 30px;
    position: relative;
    font-size: .24rem;
    width: 69.3%;
    background-color: #f4f4f4;
    height: .6rem;
    margin-top: .14rem ;
    line-height: .6rem;
}
.iptContainer:before{
    content: '';
    display: block;
    position: absolute;
    top:0;left:0;
    width: .6rem;height: 100%;
    background:url("../images/icon.png")
    no-repeat -6.08rem .08rem;
    background-size: 7.92rem;
}
.iptContainer input{
    width: 100%;
    height: 100%;
    padding:0 .7rem;
}
.iptContainer .deleteText{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: .6rem;
    height: 100%;
    background: url("../images/icon.png")
    no-repeat -7rem .06rem;
    background-size: 7.92rem;
}
.nowrap{
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}


 .plate_title{
    line-height: .7rem;
    font-size: .29rem;
}
 .plate_title:before{
    background: url("../images/icon.png")
    no-repeat -3.35rem .1rem;
    background-size: 7.92rem;
    float: left;
    display: inline-block;
    width: .7rem;
    content: "";
    height: .7rem;
}
.recommend_title:before{
    background-position-x:-4.2rem ;
}
 .shopList li{
    border-bottom: .12rem solid #f0efed;
    padding: .2rem .24rem;
}
.shopList li .shopList_left{
    float: left;
    width: 1.6rem;height: 1.6rem;
}
.shopList li .shopList_left img{width: 100%;height: 100%;}
.shopList li .shopList_right{
    width: 100%;
    height: 1.6rem;
    padding-left: 2rem;
    line-height: .55rem ;
}
.shopList_right>p{width: 100%}
.shopList_right .shop_name{
    font-size: .34rem;
    color:#333;
}
.shopList_right .shop_detail{
    font-size: .28rem;
}
.shopList_right .shop_addr{
    font-size: .26rem;color:#999;

}
.shopList_right .shop_addr .addr{
    width: 80%;display: inline-block;
}
.shopList_right .shop_addr .interval{
    float: right;
}
.plate_footer{
    height: .7rem;width: 100%;
    text-align: center;
    line-height: .7rem;color:#dd2727;
    font-size: .27rem;
    display: block;
}
.recommend_footer{
    border:none;
}
.youLike{    border-bottom: .12rem solid #f0efed;
}


/*评价部分*/
.talk .talk_title{
    border-bottom: 1px solid #eee;
    padding: .22rem 0;
    font-size: .29rem;
    color:#444;
    padding-left: .4rem;
}
.talk .talk_title .talk_mark{
    float: right;color:#ff7979;font-size: .23rem;
    margin-top: .04rem;
    margin-right: .2rem;
}
.talk_mark_iocn{
    float: right;
    margin-top: .095rem;
    margin-right: .1rem;
    width: 62px;
    height: 12px;
    background: url("../images/star.png")
    repeat-x 0 -19px;
    background-size: 13px ;
    overflow: hidden;

}
.markIocn{
    display: inline-block;
    background: url("../images/star.png")
    repeat-x 0 0;
    background-size: 13px ;
    height: 12px;
    float: left;
}
.talk_mark_iocn1{  width: 20%;  }
.talk_mark_iocn1-5{  width: 30%;  }
.talk_mark_iocn2{  width: 40%;  }
.talk_mark_iocn2-5{  width: 50%;  }
.talk_mark_iocn3{  width: 60%;  }
.talk_mark_iocn3-5{  width: 70%;  }
.talk_mark_iocn4{  width: 80%;  }
.talk_mark_iocn4-5{  width: 90%;  }
.talk_mark_iocn5{  width: 100%;  }

.talk_body{
    padding-left: .4rem;
}
.talk_body li{
    border-bottom: 1px solid #eee;
    padding:.3rem .24rem  .3rem 0;
}

.talk_body .talk_body_top{overflow: hidden;}
.talk_body .talk_body_top .user_in{
    float: left;

}
.talk_body .user_in img{
    width: .72rem;
    height: .72rem;
    border-radius: 50px;
    border:1px solid #f1f1f1;
    margin-right: .24rem;
    float: left;
}
.talk_body .user_in .user_name{
    font-size: .29rem;
}
.talk_body .user_in .user_time{
    font-size: .23rem;
    color:#999;
    margin-left: -2px;
    float: left;
}

.talk_body li .user_mark{
    font-size: .29rem;
    margin: .2rem 0;
}
.talk_body li .user_img{overflow: hidden}
.talk_body li .user_img img{
    float: left;
    width: 1rem;height: 1rem;
    margin-right: .2rem;
    border-radius: 5px;
}

.header{
    text-align: center;
}
.header .header_title{float: none;margin-left: -15.06%;font-size: .39rem;}

.result_footer {
    text-align: center;
    height: 1.25rem;
    padding-top: .3rem;
    font-size: .27rem;
    color: #999;
}




#shade{
    position: fixed;
    width: 100%;height: 100%;
    z-index: 99;
    top:0;left:0;
    background-color: black;
    display: none;
}
#shade .talk_mark_iocn{float: left;}
#shade .shade_header{
    height: .88rem;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: .36rem;
    position: absolute;
    top:0;left:0;
    line-height: .88rem;
}
#shade .shade_header .shade_back{
    position: absolute;top:0;left:0;
    width: 15.06%;
    background: url('../images/icon.png')
    no-repeat .4rem -5.6rem;
    background-size: 7.92rem;
    height: .88rem;
}
#shade .shade_header .shade_num{letter-spacing: .05rem;}
#shade .shade_footer{
    width: 100%;
    color:#fff;
    background-color: transparent;
    font-size: .27rem;
    position: absolute;
    bottom:0;left:0;
    padding:  .24rem;
    padding-top: 0;
}
#shade .shade_footer .user_talk{
    clear: both;
    margin-top: .5rem;
}
#shade .shade_body{
    position: absolute;
    left:0;top:50%;
    width: 100%;
    height: 60%;
    transform: translate(0,-50%);

}
#shade .shade_body li{
    width: 100%;height: 100%;
    position: relative;
    float: left;
}
#shade .shade_body ul{
    width: 100%;height: 100%;
    overflow: hidden;
    position: absolute;
    top:0;left:0;
}

.f-anim{
    -webkit-transition:left .2s linear;
    transition: left .2s linear;
}

#shade .shade_body li img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left:0;top:50%;
    transform: translate(0,-50%);
}




/***/
/***/
/** 下拉样式 Pull down styles*/
/***/
#wrapper {
    position:absolute; z-index:1;
    top: .88rem; bottom:0; left:0;
    width:100%;
    overflow:auto;
}

#pullUp p{
    width: 2.6rem;
    margin: 0 auto;
    overflow: hidden;
}
.pullUpLabel{
    float: left;
    max-width: 2rem;
    height: .6rem;
}
#pullDown, #pullUp {
    background:#fff;
    height: .8rem;
    line-height: .8rem;
    padding:5px 10px;
    font-weight:bold;
    font-size: .28rem;;
    color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width: .46rem;
    height: .4rem;
    background:url('../images/pull-icon@2x.png') 0 1px no-repeat;
    -webkit-background-size:.44rem .8rem;
    background-size:.44rem .8rem;
    margin:.2rem auto;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);

}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}






