#comment{position: relative;}
.loading{background:#fff;width:100%;height:100%;position:absolute;z-index:999;left:0;top:0}
.loadbox{position:relative;width:2.2rem;height:2.2rem;margin:0 auto;margin-top:10%}
.loadlogo{position:absolute;z-index:1001;top:0.9rem;left:.35rem;font-size:.25rem;color:#fd9d9d}
.loadbg{position:absolute;z-index:1000;width:2.2rem;height:2.2rem;border-radius:50%;border:1px solid #fd9d9d;
    -webkit-animation:load 1s linear infinite both;-moz-animation:load 1s linear infinite both
}
.loadbg em{width:0.2rem;height:0.2rem;background:#fd9d9d;border-radius:50%;display:block;margin-left:0.28rem;}
@-webkit-keyframes load{
    0%{-webkit-transform:rotate(360deg)}
    100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes load{
    0%{-moz-transform:rotate(360deg)}
    100%{-moz-transform:rotate(0deg)}
}
.img_jt{height:auto;width:50px;position:absolute;left:50%;bottom:30px;margin-left:-12px;-webkit-animation:moveIconUp ease 1.5s both infinite;animation:moveToBottom ease 1.5s both infinite;z-index:100}
@-webkit-keyframes moveToBottom{
    to{-webkit-transform:translateY(100%)}
}
@keyframes moveToBottom{
    to{-webkit-transform:translateY(100%);transform:translateY(100%)
    }
}
@-webkit-keyframes moveIconUp{
    0%{-webkit-transform:translateY(100%);opacity:0}
    50%{-webkit-transform:translateY(0);opacity:1}
    100%{-webkit-transform:translateY(-100%);opacity:0}
}
@keyframes moveIconUp{
    0%{-webkit-transform:translateY(100%);transform:translateY(100%);opacity:0}
    50%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}
    100%{-webkit-transform:translateY(-100%);transform:translateY(-100%);opacity:0}
}
@-webkit-keyframes moveRo{
    from{-webkit-transform:rotate(360deg)}
    to{-webkit-transform:rotate(-360deg)}
}
@keyframes moveRo{
    from{transform:rotate(-360deg)}
    to{transform:rotate(360deg)}
}
@-webkit-keyframes openRo{
    to{-webkit-transform:translateY(100%)}
}
@keyframes openRo{
    to{-webkit-transform:translateY(100%);transform:translateY(100%)}
}
@-webkit-keyframes openIconRo{
    0%{-webkit-transform:translateY(100%);opacity:0}
    50%{-webkit-transform:translateY(0);opacity:.5}
    100%{-webkit-transform:translateY(-100%);opacity:0}
}
@keyframes openIconRo{
    0%{-webkit-transform:translateY(100%);transform:translateY(100%);opacity:0}
    50%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.5}
    100%{-webkit-transform:translateY(-100%);transform:translateY(-100%);opacity:0}
}
.music{position:absolute;z-index:1111;left:20px;top:20px}
.open{-webkit-animation:moveRo linear 3.5s infinite;animation-delay:0}
.icon-music{width:50px;height:50px;background:url(../img/icon-muisc.png);background-size:100% 100%;display:block}
.music-span{position:absolute;top:-5px;left:6px;width:12px;height:12px;background:url(../img/music-span.png);background-size:100% 100%;-webkit-animation:openIconRo ease 1.2s both infinite;animation:openRo ease 1.2s both infinite;z-index:-1}
.music_text{color:#fff;margin-left:5px;font-size:20px;opacity:0}
@keyframes show_hide{
    from{opacity:0}
    to{opacity:1}
}
@-webkit-keyframes show_hide{
    from{opacity:0}
    to{opacity:1}
}
.show_hide{animation:show_hide 1s linear infinite alternate;-webkit-animation:show_hide 1s linear infinite alternate}
.xin_info{opacity:0}
